body {
    background-color: rgb(1, 1, 1);
  }
  
h1 {
    color: rgb(13, 229, 248);
    text-align: center;
    font-family: Times New Roman;
    font-size: 20px;
  }
h5{
  text-align: center;
  font-size: 50px;
}

h4{
  text-align: center;
  font-size: 10px;
}

  
table {
  border-collapse: collapse;
  width: 75%;
  background-color:beige;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
tr{
  border: 1px solid;
  text-align: center;
}
th{
  background-color: beige;
  color:black;
  text-align: center;
}
td{
  background-color: beige;
  text-align: left;
}
.main{
  background-color: white;
  text-align: center;
}
.login{
  text-align: center;
}
ul{
  text-align: left;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #faf8f8;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */




  